<div class="exercise">
  <nav>
    <ul>
      <li>
        <%= link_to'Go to Slide 1', '#' %>
      </li>
      <li>
        <%= link_to'Go to Slide 2', '#' %>
      </li>
      <li>
        <%= link_to'Go to Slide 3', '#' %>
      </li>
      <li>
        <%= link_to'Go to Slide 4', '#' %>
      </li>
    </ul>
  </nav>
  <article class="article01">
    <div class="wrapper">
      <div class="block">
        <h1>libero augue ultrices orci</h1>
        <p>Curabitur ipsum dolor, efficitur vitae imperdiet in, suscipit lacinia eros. Proin venenatis, dui et auctor iaculis, diam tellus pretium est, ac tempus nisi lorem nec libero</p>
        <p>Nunc molestie magna vel nisi efficitur pulvinar.</p>
        <p>Nunc tristique arcu non pellentesque lobortis.</p>
        <p>Duis nec dolor cursus, eleifend velit at, elementum mi.</p>
      </div>  
      <div class="tree">
        <%= link_to'Click here' , '#', :class=>'button'%>
      </div>
    </div>  
  </article>
  <article class="article02">
    <div class="wrapper">
      <div class="block">
        <h1>libero augue ultrices orci</h1>
        <p>Curabitur ipsum dolor, efficitur vitae imperdiet in, suscipit lacinia eros. Proin venenatis, dui et auctor iaculis, diam tellus pretium est, ac tempus nisi lorem nec libero</p>
        <p>Nunc molestie magna vel nisi efficitur pulvinar.</p>
        <p>Nunc tristique arcu non pellentesque lobortis.</p>
        <p>Duis nec dolor cursus, eleifend velit at, elementum mi.</p>
      </div>  
      <div class="tree">
        <%= link_to'Click here' , '#', :class=>'button'%>
      </div>
    </div>  
  </article>
  <article class="article03">
    <div class="wrapper">
      <div class="block">
        <h1>libero augue ultrices orci</h1>
        <p>Curabitur ipsum dolor, efficitur vitae imperdiet in, suscipit lacinia eros. Proin venenatis, dui et auctor iaculis, diam tellus pretium est, ac tempus nisi lorem nec libero</p>
        <p>Nunc molestie magna vel nisi efficitur pulvinar.</p>
        <p>Nunc tristique arcu non pellentesque lobortis.</p>
        <p>Duis nec dolor cursus, eleifend velit at, elementum mi.</p>
      </div>  
      <div class="tree">
        <%= link_to'Click here' , '#', :class=>'button'%>
      </div>
    </div>  
  </article>
  <article class="article04">
    <div class="wrapper">
      <div class="block">
        <h1>libero augue ultrices orci</h1>
        <p>Curabitur ipsum dolor, efficitur vitae imperdiet in, suscipit lacinia eros. Proin venenatis, dui et auctor iaculis, diam tellus pretium est, ac tempus nisi lorem nec libero</p>
        <p>Nunc molestie magna vel nisi efficitur pulvinar.</p>
        <p>Nunc tristique arcu non pellentesque lobortis.</p>
        <p>Duis nec dolor cursus, eleifend velit at, elementum mi.</p>
      </div>  
      <div class="tree">
        <%= link_to'Click here' , '#', :class=>'button'%>
      </div>
    </div>  
  </article>
  <footer>
    <div class="wrapper">
      <div class="block">
        <h2>Variables : </h2>
        <p>Use Variables for all font-family and color 
  and container height width 100%; </p>
        <h2>Nesting:</h2>
        <p>Use Nesting for buttons  & backgrounds.
  keep background attachment fixed.</p>
      </div>  
      <div class="block">
        <h2>Mixins :</h2>
        <p>Use Mixins for border-radius.</p>
        <h2>Extend/Inheritance :</h2>
        <p>Use Extend/Inheritance for buttons & backgrounds.</p>
      </div>  
    </div>
  </footer>
</div>